Package: com.redenticdev.appmore
Name: AppMore
Depends: firmware (>= 13)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Auto-extend app's description in AppStore updates page
Icon: https://redentic.dev/depictions/com.redenticdev.appmore/icon.png
Depiction: https://redentic.dev/depictions/?p=com.redenticdev.appmore
SileoDepiction: https://redentic.dev/depictions/com.redenticdev.appmore/sileo.json
Maintainer: RedenticDev <redenticdev@gmail.com>
Author: RedenticDev <redenticdev@gmail.com>
Section: Tweaks (Requests)
